.apresentacao {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

.apresentacao img {
    border-radius: 50%;
    height: 264px;
    margin: 2rem 0 2rem 0;
    width: 264px;
}

.apresentacao .apresentacao__descricao h4 {
    font-weight: 700;
}

.apresentacao .apresentacao__descricao p {
    color: var(--color-font-semi-escuro);
    padding-bottom: 2rem;
}
.apresentacao .apresentacao__descricao .link--curriculo {
    background: var(--color-azul);
    border: var(--color-azul) 2px solid;
    border-radius: 999px;
    color: var(--color-font-claro);
    font-size: 24px;
    padding: .5rem 1rem;
    text-decoration: none;
}
.apresentacao .apresentacao__descricao .link--curriculo:hover {
    background: var(--color-font-claro);
    color: var(--color-azul);
}

@media screen and (min-width:768px) {
    .apresentacao img {
        height: 512px;
        width: 512px;
    }

    .apresentacao p, 
    .apresentacao h4 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .apresentacao {
        flex-direction: row;
        gap: 2rem;
    }

    .apresentacao .apresentacao__descricao {
        text-align: left;
    }

}

@media screen and (min-width: 1440px) {
    .apresentacao {
        gap: 4rem;
    }

    .apresentacao .apresentacao__descricao {
        border-left: var(--color-azul) 4px solid;
        padding: 0 0 1rem 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .apresentacao img {
        width: 768px;
        height: 758px;
    }
}