footer {
    background: var(--color-azul);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    text-align: center;
}

footer a {
    color: var(--color-font-semi-escuro);
    text-decoration: none;
}
